* {
    margin: 0;
    padding: 0;
    font-family: 'Young Serif', serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/fron1.jpg);    
    background-position: center;
    background-size: cover;   
    position: relative;

}

.img {
    height: 100px;
    width: 100px;
    border-radius: 100px;
   
}

nav {
    display: flex;
    padding: 10px 10px;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 10px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after {
    content: ' ';
    width: 0%;
    height: 3px;
    background-color: brown;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 70%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
}
.text-box1 {
    position: absolute;
    width: 10%;
    color: white;   
    margin-top: 80%;
    left: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
}

.text-box h1 {
    font-size: 42px;
}

.text-box p {
    
    
    font-size: 20px;
}

.hero-btn {
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid wheat;
    border-radius: 10px;
    
    margin: 100px;
    margin-top: 500px;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid brown;
    background: brown;
    transition: 1s;

}

nav .fa {
    display: none;
}

@media (max-width:900px) {
    .text-box h1 {
        font-size: 20px;
        margin-top: 150px;
    }
    .text-box1{
        margin-top: 500px ;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: brown;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -400px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: white;
        margin: 10px;
        font-size: 20;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;

    }

    .hero-btn {
        width: 70%;
        margin-top: 1000px;
        margin-left: 20px;
    }
}

/* course */

.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {

    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col {
    flex-basis: 31%;
    background: burlywood;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.3s;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}

@media (max-width:900px) {
    .row {
        flex-direction: column;
    }

}

/* campus */
.campus {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img {
    width: 100%;
    height: 500px;
    display: block;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {

    background: firebrick;
    opacity: 0.5;
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;

}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

/* facilities */
.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilites-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilites-col img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

.facilites-col p {
    padding: 0;
}

.facilites-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/* testimonials */

.testimonials {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.testimonial-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: rgb(245, 200, 200);
    margin: 20px;
    padding: 25px;
    cursor: pointer;
   
}

.testimonial-col img {
    
    margin-left: 145px;
    margin-right: 30px;
    height: 80px;
    width: 80px;
    border-radius: 100px;
    
    
    margin-bottom: 20px;
}


.testimonial-col p {
    padding: 0;
}

.testimonial-col h3 {
    margin-top: 15px;
    text-align: left;
}

.testimonial-col .fa {
    color: rgb(235, 76, 23);
}

@media (max-width:900px) {
    .testimonial-col img {

        margin-left: 0px;
        margin-right: 15px;

    }
}

/* <!-- Call to action --> */

.cta {
    color: black;
    margin: 100px auto;
    width: 80%;
    background-image: url(images/bb.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding: 100px 0;
    text-align: center;
}

@media (max-width:900px) {
    .cta h1 {
        font-size: 24px;
    }
}

/* footer */
.footer {

    width: 100%;
    text-align: center;
    padding: 300px 0;
    margin-top: -350px;
}

.footer h4 {
    
    font-weight: 600;
}

